.space-view-wrapper {
  //background: yellow;
  height: calc(100vh - 15px - 50px - 30px - 10px);
  width: 100%;
  display: flex;
  flex-direction: row;

  .navigator-wrapper {
    //background: green;
  }

  .main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 1rem;

    .header-wrapper {
    }

    .content-wrapper {
      flex: 1;
      overflow: auto;
      background: yellow;
      padding: 1rem 0;
    }
  }
}

.el-menu-vertical {
  min-height: 100%;

  &:not(.el-menu--collapse) {
    width: 200px;
  }
}
