@import "@/assets/style/variables";

.theme-text {
  color: $theme-color;
}

.home-wrapper {

  .main-wrapper {
    width: 100%;

    padding: 2rem $home-view-padding-x;

    .search-wrapper {

    }

    .hot-wrapper {
      margin: 1.5rem 0;
      font-size: 1rwem;
      // 不要换行
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      * {
        transition: color cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
      }

      .title {
        color: $theme-color;
        font-size: 1.5rem;
        font-weight: 600;
        margin-right: 1rem;
      }
    }

    .divider {
      margin-bottom: 1.5rem;
    }

    .recommend-wrapper {
      margin-top: 2rem;

      .title {
        color: $theme-color;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      .books-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & > div {
          margin-bottom: 3rem;
          margin-right: 2rem;
        }

        .placeholder {
          width: $book-thumbnail-wanted-width;
          margin-right: 2rem;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .home-wrapper {
    .main-wrapper {
      padding: 1rem 1rem;
    }
  }
}
