/**
 * 全局颜色
 */
$theme-color: #2779D6;

/**
 * 图书缩略组件 BookThumbnail
 */
$book-thumbnail-size-ratio: 4;
$book-thumbnail-wanted-width: calc($book-thumbnail-size-ratio * 3rem);
$book-thumbnail-wanted-height: calc($book-thumbnail-size-ratio * 4rem);
