@import "@/assets/style/variables.scss";

.space-view-wrapper {
  //background: yellow;
  height: calc(100vh - 15px - 50px - 30px - 10px);
  width: 100%;
  display: flex;
  flex-direction: row;

  .navigator-wrapper {
    //background: green;
  }

  .main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: $contrast-background-color;

    padding: 1rem;

    .header-wrapper {
    }

    .content-wrapper {
      flex: 1;
      overflow: auto;
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid #DCDFE6;
      background: white;
      margin-top: 1rem;
    }
  }
}

.el-menu-vertical {
  min-height: 100%;

  &:not(.el-menu--collapse) {
    width: 200px;
  }
}

.menu-item-text-indent {
  text-indent: 10px;
}
